{%- case account_type -%}
  {%- when 'facebook' -%}
    <a target="blank" href="{{ section.settings.facebook_link }}" title="Facebook" aria-label="Facebook">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_730_1106)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24 12.1499C24 5.52248 18.6274 0.149902 12 0.149902C5.37258 0.149902 0 5.52248 0 12.1499C0 18.1395 4.38823 23.1039 10.125 24.0041V15.6187H7.07812V12.1499H10.125V9.50615C10.125 6.49865 11.9165 4.8374 14.6576 4.8374C15.9705 4.8374 17.3438 5.07178 17.3438 5.07178V8.0249H15.8306C14.3399 8.0249 13.875 8.94991 13.875 9.89889V12.1499H17.2031L16.6711 15.6187H13.875V24.0041C19.6118 23.1039 24 18.1395 24 12.1499Z" fill="white"/>
            </g>
            <defs>
                <clipPath id="clip0_730_1106">
                    <rect width="24" height="23.86" fill="white" transform="translate(0 0.149902)"/>
                </clipPath>
            </defs>
        </svg>
    </a>
  {%- when 'instagram' -%}
    <a target="blank" href="{{ section.settings.instagram_link }}" title="Instagram" aria-label="Instagram">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_730_1109)">
            <path d="M12 2.3129C15.204 2.3129 15.584 2.3249 16.85 2.3829C20.102 2.5309 21.621 4.0739 21.769 7.3019C21.827 8.5669 21.838 8.9469 21.838 12.1509C21.838 15.3559 21.826 15.7349 21.769 16.9999C21.62 20.2249 20.105 21.7709 16.85 21.9189C15.584 21.9769 15.206 21.9889 12 21.9889C8.796 21.9889 8.416 21.9769 7.151 21.9189C3.891 21.7699 2.38 20.2199 2.232 16.9989C2.174 15.7339 2.162 15.3549 2.162 12.1499C2.162 8.9459 2.175 8.5669 2.232 7.3009C2.381 4.0739 3.896 2.5299 7.151 2.3819C8.417 2.3249 8.796 2.3129 12 2.3129ZM12 0.149902C8.741 0.149902 8.333 0.163902 7.053 0.221902C2.695 0.421902 0.273 2.8399 0.073 7.2019C0.014 8.4829 0 8.8909 0 12.1499C0 15.4089 0.014 15.8179 0.072 17.0979C0.272 21.4559 2.69 23.8779 7.052 24.0779C8.333 24.1359 8.741 24.1499 12 24.1499C15.259 24.1499 15.668 24.1359 16.948 24.0779C21.302 23.8779 23.73 21.4599 23.927 17.0979C23.986 15.8179 24 15.4089 24 12.1499C24 8.8909 23.986 8.4829 23.928 7.2029C23.732 2.8489 21.311 0.422902 16.949 0.222902C15.668 0.163902 15.259 0.149902 12 0.149902ZM12 5.9879C8.597 5.9879 5.838 8.7469 5.838 12.1499C5.838 15.5529 8.597 18.3129 12 18.3129C15.403 18.3129 18.162 15.5539 18.162 12.1499C18.162 8.7469 15.403 5.9879 12 5.9879ZM12 16.1499C9.791 16.1499 8 14.3599 8 12.1499C8 9.9409 9.791 8.1499 12 8.1499C14.209 8.1499 16 9.9409 16 12.1499C16 14.3599 14.209 16.1499 12 16.1499ZM18.406 4.3049C17.61 4.3049 16.965 4.9499 16.965 5.7449C16.965 6.5399 17.61 7.1849 18.406 7.1849C19.201 7.1849 19.845 6.5399 19.845 5.7449C19.845 4.9499 19.201 4.3049 18.406 4.3049Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_730_1109">
            <rect width="24" height="24" fill="white" transform="translate(0 0.149902)"/>
            </clipPath>
            </defs>
        </svg>

    </a>
  {%- when 'twitter' -%}
    <a target="blank" href="{{ section.settings.twitter_link }}" title="Twitter" aria-label="Twitter">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_730_1112)">
            <path d="M24 4.70689C23.117 5.09889 22.168 5.36289 21.172 5.48189C22.189 4.87289 22.97 3.90789 23.337 2.75789C22.386 3.32189 21.332 3.73189 20.21 3.95289C19.313 2.99589 18.032 2.39789 16.616 2.39789C13.437 2.39789 11.101 5.36389 11.819 8.44289C7.728 8.23789 4.1 6.27789 1.671 3.29889C0.381 5.51189 1.002 8.40689 3.194 9.87289C2.388 9.84689 1.628 9.62589 0.965 9.25689C0.911 11.5379 2.546 13.6719 4.914 14.1469C4.221 14.3349 3.462 14.3789 2.69 14.2309C3.316 16.1869 5.134 17.6099 7.29 17.6499C5.22 19.2729 2.612 19.9979 0 19.6899C2.179 21.0869 4.768 21.9019 7.548 21.9019C16.69 21.9019 21.855 14.1809 21.543 7.25589C22.505 6.56089 23.34 5.69389 24 4.70689Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_730_1112">
            <rect width="24" height="24" fill="white" transform="translate(0 0.149902)"/>
            </clipPath>
            </defs>
        </svg>


    </a>
  {%- when 'youtube' -%}
    <a target="blank" href="{{ section.settings.youtube_link }}" title="Youtube" aria-label="Youtube">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_730_1115)">
            <path d="M19.615 3.33391C16.011 3.08791 7.984 3.08891 4.385 3.33391C0.488 3.59991 0.029 5.95391 0 12.1499C0.029 18.3349 0.484 20.6989 4.385 20.9659C7.985 21.2109 16.011 21.2119 19.615 20.9659C23.512 20.6999 23.971 18.3459 24 12.1499C23.971 5.96491 23.516 3.60091 19.615 3.33391ZM9 16.1499V8.14991L17 12.1429L9 16.1499Z" fill="white"/>
            </g>
            <defs>
            <clipPath id="clip0_730_1115">
            <rect width="24" height="24" fill="white" transform="translate(0 0.149902)"/>
            </clipPath>
            </defs>
        </svg>
    </a>
{%- endcase -%}