.collections-slider {
  width: 100%;
  padding: 90px 0;
  @include flex(row, center, center, null);
}

.collections-slider__container {
  width: calc(100vw - 100px);
  max-width: size('page-tablet-large');

  @include below('page-tablet-large') {
    width: calc(100vw - 60px);
  }
}

.collections-slider__slide {
  @include flex(column, center, center, null);

  min-height: 340px;
  min-width: 280px;
  max-width: calc(33vw - 40px);

  @include below('page-tablet-large') {
    height: calc(33vw + 132px);
  }
}

.collections-slider__image {
  height: calc(33vw + 132px);
  max-height: 512px;
  width: 100%;
  min-height: 340px;
  min-width: 280px;
  object-fit: cover;

  @include margin(0, 0, 12px, 0);

  @include below('page-tablet-large') {
    max-width: calc(33vw - 40px);
    width: 100%;
  }
}

.collections-slider img {
  max-height: 512px;
  height: calc(33vw + 132px);
  min-width: 280px;
  min-height: 340px;
  object-fit: cover;
  filter: brightness(0.7);
}

.collections-slider h3 {
  letter-spacing: calc(0.04 * 27px);
}

.collections-slider__view-all {
  @include padding(0, 2px, 2.5px, 2.5px);
  @include text-style(null, null, 20.49px, 400);

  &:visited,
  &:link {
    text-decoration: none;
    color: color('gray-800');

    @include use-text-style('p-md');
  }
}

.collections-slider__title {
  @include float-fixed(absolute, 0, calc(50% - 3px), null, null, null, null);
  transform: translateY(-50%);
  color: color('white');
  z-index: 2;
  width: 100%;
  text-align: center;
}

.collections-slider__header {
  @include flex(row, center, space-between, null);
  @include margin(0, 0, 34px, 0);
}

.collections-slider .swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  max-width: 66.67%;
  width: 100%;
  height: 5px;

  @include float-fixed(relative, 16.67%, 100%, 0, 0, null, null);

  z-index: 2;

  @include margin(53px, 0, 30px, 0);

  @include below('page-tablet-large') {
    max-width: calc(73.34% + 16px);
    @include margin(36px, 0, 24px, 0);

    @include float-fixed(relative, calc(13.37% - 18px), 100%, 0, 0, null, null);
  }
}
