.hero {
  width: 100%;
  max-height: 800px;
  height: calc(100vh - 39px);
  position: relative;
  top: -84px;
  z-index: 0;

  @include margin(0, 0, -84px, 0);

  picture,
  img {
    height: 100vh;
    max-height: 800px;
    object-fit: cover;
  }
}

.hero__container {
  @include flex(column, center, center, null);
  @include float-fixed(absolute, 0, 0, 0, 0, 100%, 100%);
  @include margin(0, auto, 0, auto);

  text-align: center;
  max-width: size('page-tablet-large');
  z-index: 99999999;
  color: color('white');

  @include below('page-tablet-large') {
    @include margin(0, 20px, 0, 20px);

    max-width: calc(100vw - 40px);
  }
}

.hero__accent-text {
  @include text-style(null, 1.3px, 17.76px, null);
  @include margin(0, 0, 30px, 0);

  text-transform: uppercase;
}

.hero__title {
  letter-spacing: 3.6px;

  @include margin(0, 0, 30px, 0);
}

.hero__subtitle {
  @include text-style(null, 0.09px, 30.05px, null);
  @include margin(0, 0, 30px, 0);
}

.hero__button {
  width: 186px;
  height: 56px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal,
.hero .swiper-horizontal > .swiper-pagination-bullets {
  bottom: 31px;
  .swiper-pagination-bullet {
    @include padding(5px, 5px, 5px, 5px);
    @include margin(0, 7.5px, 0, 7.5px);

    background-color: color('white');
  }
}
