.photos-slice {
  width: 100%;
  background-color: color('mila');

  @include flex(row, center, center, null);

  overflow: hidden;
}

.photos-slice__photo {
  width: 25vw;
  height: 25vw;

  picture,
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
